* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1,6;
    background-color: blueviolet;
}

header {
    background-color: rosybrown;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 10px 
}

nav ul li {
    margin: 15px;
}

nav ul li a {
    color:ivory;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}

main {
    padding: 20px;
    max-width: 900px;
    margin: auto;
    background: rgb(172, 164, 164);
    
}

footer {
    text-align: center;
    padding: 10px;
    background: #cf3161;
    color: #fff;
}

form {
    display: flex;
    flex-direction:column;

}

form label {
    margin-bottom: 10px;
}

form input, form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background: #b685a0;
    color: #0e0202;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

nav ul li a:hover {
    text-decoration: underline;
    background-color: rgb(99, 5, 36);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;

}